.navbar{
  display: flex;
  justify-content: space-between;
}
.navbar h1{
  color: rgb(0, 119, 255);
  padding-left: 4vh;
}

.menu ul{
  display: flex;
  gap: 80px;
}
.navbar ul li{
  list-style: none;
  padding: 2vmin 2vmin;
}
.navbar ul li a{
  text-decoration: none;
  color: black;
}